{{#each works}}
<div class="container text-center">
<div><h3><a href="{{this.link}}">{{ this.title}}</a></h3></div>
<div><img src="{{this.image}}"/></div>
{{/each}}

<h2>Surreal Sound</h2>
<p>This imgage being displayed is the concept logo for me and my friends Hosting/Event company</p>
<p>It's called Surreal Sound, hence the double S monogram</p>
<p>When me and my friends took a trip to LA over the summer, we attended many events/parties</p>
<p>So we decided that in the future, we would dabble in doing something like that over here in NY</p>

<h4>Here are some mock up posters we had lined up</h4>
<center><img src="/public/img/exslide.png" alt="poster1"></center>
<center><img src="/public/img/train.png" alt="poster2"></center>
<center><img src="/public/img/rolls.png" alt="poster3"></center>
{{> advert }}
