body {
   background:url('paper.jpeg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















